export default {
  "MANAGED-CONFIG": "http://localhost:9991/",
  "host": "127.0.0.1",
  "port": 9991,
  "source": {
    "gemini": "Anti-GFW.conf"
  },
  "remote": {
    "gemini": [{
      "name": "CordCloud",
      "url": "https://www.example.com/surge.conf"
    }]
  }
}